[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
pylint = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
